.background-wrapper {
  position: relative;
  width: 100%;
  pointer-events: none;
  z-index: -10;
}

.background-section {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -10;
}

.bg-1 {
  top: 0;
}

.bg-2 {
  top: 100vh;
}

.bg-3 {
  top: 200vh;
}
